*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

html,
body,
#container {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

input {
	font-family: "Open Sans", sans-serif;
}

#search {
	height: 5%;
	width: 100%;
}

#map {
	height: 95%;
}

#search-bar {
	height: 100%;
	width: 100%;
}

#search-input {
	height: 100%;
	width: 100%;
}

.list-item {
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	height: 50px;
	background-color: aliceblue;
	padding: 10px;
	display: flex;
	align-items: center;
}

.list-item:hover {
	background-color: darkgray;
}

.list-item:active {
	background-color: cornflowerblue;
	color: aliceblue;
}

#list-view {
	width: 100%;
	max-height: 50%;
	overflow-y: scroll;
	position: absolute;
	z-index: 2;
	padding: 0;
	margin: 0;
}

.info-heading {
	font-weight: 700;
}

@media only screen and (min-width: 720px) {
	#map {
		height: 100%;
		width: 70%;
		float: right;
		top: 0;
	}
	
	#search {
		width: 30%;
		float: left;
	}
	
	#list-view {
		width: 30%;
		max-height: 95%;
		height: 95%;
	}
}

@media only screen and (min-width: 1366px) {
	#map {
		width: 80%;
	}
	
	#search {
		width: 20%;
		float: left;
	}
	
	#list-view {
		width: 20%;
	}
}

@media only screen and (max-width: 720px) {
	#list-view {
		display: none;
	}
}